In [ ]:
import pandas as pd
import numpy as np

In [ ]:
file_excel = 'Dataset Public Health - Papua Team.xlsx'

In [ ]:
mengandung_kabupaten = pd.read_excel(file_excel, sheet_name=[0,1,2,3,4,5,7,8,9,10,11,12,13])
tidak_mengandung_kabupaten = pd.read_excel(file_excel, sheet_name=[6, 11])

Membersihkan Kategori Pendidikan yg kotor

In [ ]:
mengandung_kabupaten[1].kategori_pendidikan = mengandung_kabupaten[1].kategori_pendidikan.str.replace('\n', '')

In [ ]:
mengandung_kabupaten[1]

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kelamin_violent_crime_by_pendidikan,kategori_pendidikan,jumlah_korban_violent_crime_by_pendidikan,satuan,tahun,ss,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,NaN,0,KORBAN,2018,163,NaN,NaN,NaN,NaN
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,TIDAK SEKOLAH,0,KORBAN,2018,163,NaN,NaN,NaN,NaN
2,3,32,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,SD,0,KORBAN,2018,163,NaN,NaN,NaN,NaN
3,4,32,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,SLTP,0,KORBAN,2018,163,NaN,NaN,NaN,NaN
4,5,32,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,SLTA,0,KORBAN,2018,163,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,32,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,PAUD,0,KORBAN,2021,698,NaN,NaN,NaN,NaN
860,861,32,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,SD,0,KORBAN,2021,698,NaN,NaN,NaN,NaN
861,862,32,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,SLTP,0,KORBAN,2021,698,NaN,NaN,NaN,NaN
862,863,32,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,SLTA,0,KORBAN,2021,698,NaN,NaN,NaN,NaN
863,864,32,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,PERGURUAN TINGGI,0,KORBAN,2021,698,NaN,NaN,NaN,NaN

## Slicing DataFrame

In [ ]:
tidak_mengandung_kabupaten[6] = tidak_mengandung_kabupaten[6].iloc[:, [0,3,4,5,7]]
tidak_mengandung_kabupaten[11] = mengandung_kabupaten[11].iloc[:, [0,3,4,6,8]]

In [ ]:
mengandung_kabupaten[0] = mengandung_kabupaten[0].iloc[:, [0,4,5,6,7,9]]

In [ ]:
mengandung_kabupaten[1] = mengandung_kabupaten[1].iloc[:, [0,4,5,6,7,9]]

In [ ]:
mengandung_kabupaten[2] = mengandung_kabupaten[2].iloc[:, [0,4,5,6,8]]

In [ ]:
mengandung_kabupaten[3] = mengandung_kabupaten[3].iloc[:, [0,4,5,7]]

In [ ]:
mengandung_kabupaten[4] = mengandung_kabupaten[4].iloc[:, [0,4,5,7]]

In [ ]:
mengandung_kabupaten[5] = mengandung_kabupaten[5].iloc[:, [0,4,5,7]]

In [ ]:
mengandung_kabupaten[7] = mengandung_kabupaten[7].iloc[:, [0,4,5,7]]

In [ ]:
mengandung_kabupaten[8] = mengandung_kabupaten[8].iloc[:, [0,4,5,7]]

In [ ]:
mengandung_kabupaten[9] = mengandung_kabupaten[9].iloc[:, [0,4,5,7]]

In [ ]:
mengandung_kabupaten[10] = mengandung_kabupaten[10].iloc[:, [0,4,5,6,8]]

In [ ]:
mengandung_kabupaten[12] = mengandung_kabupaten[12].iloc[:, [0,4,5,6,7,9]]

In [ ]:
mengandung_kabupaten[13] = mengandung_kabupaten[13].iloc[:, [0,4,5,7]]

#### JOIN DATA

In [ ]:
gabung = mengandung_kabupaten[0]

for i in range(1, 14):
    if i == 6 or i==11: 
        continue
    gabung = pd.merge(gabung, mengandung_kabupaten[i],
                     how='outer',
                     on=['id', 'nama_kabupaten_kota', 'tahun'])
    print(i)

1
2
3
4
5
7
8
9
10
12
13

In [ ]:
gabung = pd.merge(gabung, tidak_mengandung_kabupaten[6],
                 on=['id', 'tahun'], 
                 how='outer')
gabung = pd.merge(gabung, tidak_mengandung_kabupaten[11],
                 on=['id', 'tahun'], 
                 how='outer')

In [ ]:
gabung

,id,nama_kabupaten_kota,jenis_kelamin_violent_crime_by_age,kategori_usia_violent_crime_by_age,jumlah_korban_violent_crime_by_age,tahun,jenis_kelamin_violent_crime_by_pendidikan,kategori_pendidikan,jumlah_korban_violent_crime_by_pendidikan,jenis_kelamin_korban_fam_abuse,...,kelompok_usia_penduduk_age_gender,jenis_kelamin_by_age_gender,jumlah_penduduk_age_gender,jumlah_puskesmas,umur_kepala_keluarga,jenis_kelamin_kepala_keluarga,jumlah_kepala_keluarga,umur_group_penduduk,jenis_kelamin_penduduk_by_age_group,jumlah_penduduk_by_age_group
0,1,KABUPATEN BOGOR,LAKI-LAKI,0-5 TAHUN,0.0,2018,LAKI-LAKI,NaN,0.0,LAKI-LAKI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,KABUPATEN BOGOR,PEREMPUAN,0-5 TAHUN,0.0,2018,LAKI-LAKI,PAUD,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8,KABUPATEN BANDUNG,NaN,NaN,NaN,2018,NaN,NaN,NaN,PEREMPUAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15,KABUPATEN BOGOR,LAKI-LAKI,0-5 TAHUN,2.0,2021,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,22,KABUPATEN BOGOR,PEREMPUAN,0-5 TAHUN,1.0,2021,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4009,284,NaN,NaN,NaN,NaN,2021,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65-69,PEREMPUAN,597590.0
4010,285,NaN,NaN,NaN,NaN,2021,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70-74,LAKI-LAKI,352694.0
4011,286,NaN,NaN,NaN,NaN,2021,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70-74,PEREMPUAN,362677.0
4012,287,NaN,NaN,NaN,NaN,2021,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,> 75,LAKI-LAKI,374542.0
4013,288,NaN,NaN,NaN,NaN,2021,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,> 75,PEREMPUAN,427609.0

In [ ]:
gabung.to_excel('gabung5.xlsx')

In [ ]:
gabung.columns

Index(['id', 'nama_kabupaten_kota', 'jenis_kelamin_violent_crime_by_age',
       'kategori_usia_violent_crime_by_age',
       'jumlah_korban_violent_crime_by_age', 'tahun',
       'jenis_kelamin_violent_crime_by_pendidikan', 'kategori_pendidikan',
       'jumlah_korban_violent_crime_by_pendidikan',
       'jenis_kelamin_korban_fam_abuse', 'jumlah_korban_fam_abuse',
       'jumlah_bayi_malnourished', 'jumlah_balita_undernourished',
       'jumlah_ibu_hamil', 'jumlah_kasus_infeksi_penyakit_seksual',
       'persentase_penduduk_mengeluh_kesehatan', 'indeks_kesehatan',
       'jenis_kelamin_penduduk', 'jumlah_penduduk',
       'kelompok_usia_penduduk_age_gender', 'jenis_kelamin_by_age_gender',
       'jumlah_penduduk_age_gender', 'jumlah_puskesmas',
       'umur_kepala_keluarga', 'jenis_kelamin_kepala_keluarga',
       'jumlah_kepala_keluarga', 'umur_group_penduduk',
       'jenis_kelamin_penduduk_by_age_group', 'jumlah_penduduk_by_age_group'],
      dtype='object')

In [ ]:
gabung

,id,nama_kabupaten_kota,jenis_kelamin_violent_crime_by_age,kategori_usia_violent_crime_by_age,jumlah_korban_violent_crime_by_age,tahun,jenis_kelamin_violent_crime_by_pendidikan,kategori_pendidikan,jumlah_korban_violent_crime_by_pendidikan,jenis_kelamin_korban_fam_abuse,...,kelompok_usia_penduduk_age_gender,jenis_kelamin_by_age_gender,jumlah_penduduk_age_gender,jumlah_puskesmas,umur_kepala_keluarga,jenis_kelamin_kepala_keluarga,jumlah_kepala_keluarga,umur_group_penduduk,jenis_kelamin_penduduk_by_age_group,jumlah_penduduk_by_age_group
0,1,KABUPATEN BOGOR,LAKI-LAKI,0-5 TAHUN,0.0,2018,LAKI-LAKI,NaN,0.0,LAKI-LAKI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,KABUPATEN BOGOR,PEREMPUAN,0-5 TAHUN,0.0,2018,LAKI-LAKI,PAUD,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8,KABUPATEN BANDUNG,NaN,NaN,NaN,2018,NaN,NaN,NaN,PEREMPUAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15,KABUPATEN BOGOR,LAKI-LAKI,0-5 TAHUN,2.0,2021,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,22,KABUPATEN BOGOR,PEREMPUAN,0-5 TAHUN,1.0,2021,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4009,284,NaN,NaN,NaN,NaN,2021,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65-69,PEREMPUAN,597590.0
4010,285,NaN,NaN,NaN,NaN,2021,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70-74,LAKI-LAKI,352694.0
4011,286,NaN,NaN,NaN,NaN,2021,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70-74,PEREMPUAN,362677.0
4012,287,NaN,NaN,NaN,NaN,2021,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,> 75,LAKI-LAKI,374542.0
4013,288,NaN,NaN,NaN,NaN,2021,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,> 75,PEREMPUAN,427609.0